.card-movie { 
    max-width: 181px;
    border: 20px solid #4f4f60;
    background-color: #4f4f60;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bolder;
    transition: border 0.3s ease, background-color 0.3s ease;
  }
  
  .card-movie img {
    max-width: 181px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .card-movie:hover {
    border: 20px solid #373745;
    background-color: #373745;
  }
  
  .movie-name-card {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
  }
  
  @media (max-width: 500px) {
    .card-movie img {
      max-width: 118px;
    }
  
    .card-movie {
      max-width: 118px;
      font-size: 8pt;
    }
  }
  